#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
{% if mysql_innodb_host == True %}
# Innodb tuning
innodb_file_per_table
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
innodb_log_file_size = {{ mysql_innodb_log_file_size }}
innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size }}
innodb_write_io_threads = {{ mysql_innodb_write_io_threads }}
max_allowed_packet = {{ mysql_max_allowed_packet }}
max_connections = {{ mysql_max_connections }}
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=2
{% endif %}
{% if ansible_distribution_major_version|int > 7 and mysql_disable_log_bin %} 
disable_log_bin
{% endif %}

# this is only for embedded server
[embedded]

# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]

# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-5.5]


